<div>
  <a href="https://pbskids.org/peg/games/mega-mall/" target="_blank"><div
      id="ball1"
    ></div></a>
  <a href="https://pbskids.org/peg/games/make-the-cake" target="_blank"><div
      id="ball2"
    ></div></a>
  <a href="https://pbskids.org/peg/games/super-peg/" target="_blank"><div
      id="ball3"
    ></div></a>
  <a href="https://pbskids.org/peg/games/highlight-zone/" target="_blank"><div
      id="ball4"
    ></div></a>
  <a href="https://pbskids.org/peg/games/happy-camel/" target="_blank"><div
      id="ball5"
    ></div></a>
</div>
<main id="main">
  <h2>God Bless my Nephew and Niece.</h2>
  <div class="home-grid">
    <div class="home-item">
      <div>Blessed Ruben = {</div>
      <div class="home-text">age: 5,</div>
      <div class="home-text">city: Gatineau,</div>
      <div class="home-text">interestes: [ cats, dogs, other animals ],</div>
      <div class="home-text">hobbies: [ books, painting, puzzles, video games ]</div>
      <div>};</div>
    </div>
    <div class="home-item" class="home-text">
      <div>Beloved Sophia = {</div>
      <div class="home-text">age: 3,</div>
      <div class="home-text">city: Gatineau,</div>
      <div class="home-text">interestes: [ Disney movies, princesses,
        Ghostbusters ],</div>
      <div class="home-text">hobbies: [ movies, acting, makeup, painting ]</div>
      <div>};</div>
    </div>
  </div>
</main>