<div class="flex">
  <div>
    <img class="food-pic" src="./img/{{picture}}" />
  </div>
  <div>
    <h4>Name: {{title}}</h4>
    <div class="food-info">
      Country of origin:
      {{{origin}}}
    </div>
    <div class="food-info">
      Ingredients:
      {{{ingredient}}}
    </div>
  </div>
</div>