<div class="food-title">
  {{pageInfo.title}}
</div>
<nav>
  <ul class="nav-food">
    {{#each food}}
      <li class="nav-link" data-link="{{name}}">{{title}}</li>
    {{/each}}
  </ul>
</nav>
<div id="asian-food"></div>